<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="text-center alert alert-success">
        <h1 class="h1 my-5">
          Generated Password is <b> {{generated_password}} </b>
          <button class="btn btn-dark p-2" onclick="alertit()">
            <i class="fa-2x fa fa-copy "></i>
          </button>
        </h1>
        <a href="{% url 'home'%}" class="btn btn-outline-primary">
          Go To Home</a
        >
      </div>
    </div>

    <script type="text/javascript">
      async function alertit() {
        try {
          let data = "{{generated_password}}";

          await navigator.clipboard.writeText(data);
          alert("Password copied to clipboard ");
        } catch (error) {
          console.log("error ", error);
          alert("Unable to copy the text");
        }
      }
    </script>
  </body>
</html>
