<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css"
    />

    <style>
      .submit-button {
        margin: 20px 0;
      }

      .input-wrapper {
        margin: 20px 0;
      }

    </style>
  </head>
  <body>
    <div class="container text-center border border-dark p-5 mt-3">
      <h1 class="h1">Password Generator</h1>

      <form action="{% url 'generated_password' %}" class="form">
        <div class="input-wrapper">
          <label for="Password length">Password length</label>
          &nbsp;&nbsp;&nbsp;
          <select name="password_length" class="form-input">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7" selected>7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
          </select>
        </div>
        <div class="input-wrapper">
          <label for="Password length">Should be Uppercase? </label>
          &nbsp;&nbsp;&nbsp;
          <input type="checkbox" name="uppercase" class="form-input" />
        </div>
        <div class="input-wrapper">
          <label for="Password length">Should include digits ? </label>
          &nbsp;&nbsp;&nbsp;
          <input type="checkbox" name="numbers" class="form-input" />
        </div>
        <div class="input-wrapper">
          <label for="Password length">Should include special chars ? </label>
          &nbsp;&nbsp;&nbsp;
          <input type="checkbox" name="special_chars" class="form-input" />
        </div>
        <input
          type="submit"
          value="Generate Password"
          class="submit-button btn btn-primary"
        />
      </form>

      <a href="{% url 'about'%}"> About Us </a>
    </div>
  </body>
</html>
